{% assign textcolor = section.settings.text-color %}
{% assign textsize = section.settings.font_size_range %}
{% assign maincontent = section.settings.announement_bar_text %}
{% assign bgcolor = section.settings.background_color %}


<div class="backgorund-color">
  <div class="ourContainer">
    <p>Welcome to our Store</p>
  </div>
</div>